/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;*/
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*vertical-align: baseline;*/
}
/* END OF RESET */

.titleDiv {
  position: relative;
  top: -10px;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

.selectpicker:hover {
  border-color: #888;
}
.navbar-nav {
  float: none !important;
}
.navbar-nav > li:nth-child(6) {
  float: right !important;
  right: 0px !important;
}


.simInput .selectize-control {
  padding-left: 30px; !important
}
.distrInput .selectize-control {
  padding-left: 30px; !important
}

/* Tutorial and tooltip helpers */
.popover {
  margin-left: 20px !important;
  border-radius: 6px !important;
  border-color: #2f2f2f;
}

.shinyhelper-wrapper {
  
  position: relative;
  
}

.helpercirc {
	color: #999999;
}
.helpercirc:focus {
	color: #2f2f2f;
}

.fa-info-circle:hover {
	color: #2f2f2f;
}

.shinyhelper-container {
  
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 900;
  width: 0;
  height: 10px;
  padding: 0; 
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  vertical-align: top;
  
}


